/* styles.css */

/* General Styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
   
}

ul {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5,h6,p{
    margin: 0;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}



body{
    background: #Fff;
}
:root{
    --white : #fff;
    /* --swiper-theme-color: #69FAB4; */
   
}
.container {
    max-width: 1420px;
} 
.fa-bars:before, .fa-navicon:before {
  content: none;
}
.purple {
  color: #FFF;
  background: #5C0DC6;
  border: 1px solid #5C0DC6!important;
  --bs-btn-hover-bg: #FFF!important;
  --bs-btn-hover-color: #5C0DC6!important;
  --bs-btn-hover-border-color: #AE72FF!important;
}

.fs-52-w{
font-size: 52px;
line-height:78px;
color: #FFF;
font-weight: 600;
}
.fs-52-c{
font-size: 50px;
line-height:78px;
color: #260058;
font-weight: 600;
}
.fs-24-c{
  color: var(--Primary-Color, #260058);
  font-size: 24px;
  font-weight: 600;
  line-height: 150%; /* 36px */
}
.fs-18, .fs-18-w, .fs-18-c, .fs-18-s{
font-size: 18px;
font-weight: 400;
line-height: 27px
}
.fs-18-w{
  color: var(--Neutral-Color, #FFF);
}
.fs-18-s{
  color: #595959;
}
.fs-18-c{
  color: var(--Primary-Color, #260058);
}
.fs-18-b{
  color: var(--Primary-Color, #260058);
  font-size: 18px;
  font-weight: 600;
  line-height: 150%; /* 27px */
}
.fs-32-c, .fs-32-w{
  color: var(--Primary-Color, #260058);
  font-size: 32px;
  font-weight: 600;
  line-height: 150%; /* 48px */

}
.fs-32-w{
  color: var(--Neutral-Color, #FFF);
}
.fs-24-s{
  color: var(--Text-Color-02, #595959);
  font-size: 24px;
  font-weight: 400;
  line-height: 150%; /* 36px */
}


/* General Styles End */


/* =========== */
/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #260058;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb:vertical {
  border-radius: 12px;
}

::-webkit-scrollbar-track:horizontal {
  border-radius: 12px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #260058 #f1f1f1;
}

*::-moz-scrollbar-thumb {
  background-color: #260058;
  border-radius: 12px;
}

*::-moz-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 12px;
}

